<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zeroxab.learningandroid.yamba"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon"
		 android:name="YambaApplication">
	<activity android:name=".TimelineActivity"
		  android:theme="@android:style/Theme.NoTitleBar"
		  android:label="@string/titleTimeline">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
	    </intent-filter>
	</activity>
	<activity android:name=".StatusActivity"
		  android:label="@string/titleStatus"/>
	<activity android:name=".PrefActivity"
		  android:label="@string/titlePrefs"/>
	<service android:name=".UpdaterService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="8"/>
</manifest>
